* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.heading_style {
    padding: 30px 0;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(9, 66, 58);
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cards {
    width: 100%;
    height: auto;
}

.card {
    margin: 3.2%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 26.50%;
    border-radius: 12px;
    box-shadow: 15px 20px 10px -7px rgba(9, 8, 8, 0.5);
    float: left;
}

.card:hover {
    box-shadow: 30px 40px 10px -8px rgba(12, 10, 10, 0.1);
    transform: scale(1.05, 1.05);
}

.card_img {
    width: 322px;
    height: 150px;
    display: flex;
}

.btn_Watch {
    width: 100%;
    cursor: pointer;
    letter-spacing: 2px;
    color: rgb(126, 125, 125);
}